html {
  --primary-color: #ffffff;
}

body {
  background-color: #ecedff;
  font-family: "Inter";
  margin: 0;
  padding: 64px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.title h1 {
  font-size: 32px;
  font-weight: 700;
  margin: 0 0 8px 0;
}

.title h5 {
  color: #616e85;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.tabs {
  background-color: var(--primary-color);
  display: flex;
  padding: 8px;
  border-radius: 72px;

  #option1:checked ~ label:nth-of-type(1),
  #option2:checked ~ label:nth-of-type(2),
  #option3:checked ~ label:nth-of-type(3) {
    background-color: #4c57fb;
    color: var(--primary-color);
    .blue {
      display: none;
    }
    .white {
      display: inline;
    }
  }
}

.tabs input[type="radio"] {
  display: none;
}

.tabs label {
  border-radius: 40px;
  display: flex;
  gap: 8px;
  font-size: 14px;
  font-weight: 500;
  padding: 12px 24px 12px 24px;
  .white {
    display: none;
  }
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 32px 0;
}

.card {
  background-color: var(--primary-color);
  border-radius: 16px;
  height: 208px;
  margin-bottom: 32px;
  width: 304px;
}

.graph {
  background-color: var(--primary-color);
  border-radius: 16px;
  height: 292px;
  margin-bottom: 32px;
  width: 640px;
}

.cardTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 24px 16px 24px;
}

.cardTitle h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

.rlqContent {
  display: grid;
  grid-template-columns: 1px 1fr;
  grid-template-rows: 1fr;
  .scales {
    background-color: #f18c5c;
    opacity: 0.08;
  }
}

.metric {
  display: flex;
  grid-column: 2/3;
  grid-row: 1;
  flex-direction: column;
  padding-bottom: 0;
  justify-content: flex-end;
  z-index: 2;
}

.rlqBar {
  background-color: #f18c5c;
  border-radius: 0 0 16px 16px;
  height: 52px;
  width: 100%;
}

.rlqData {
  display: flex;
  grid-column: 2/3;
  grid-row: 1;
  margin: auto 24px 16px 24px;
  align-items: end;
  justify-content: space-between;
  z-index: 3;
}

.relativeValue {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
}

.absoluteValue {
  color: #ffffff;
  display: flex;
  font-size: 14px;
  font-weight: 400;
  align-items: center;
}

.kiContent {
  display: flex;
  justify-content: center;
}

.mziContent {
  display: flex;
  justify-content: center;
}

.scrollable {
  height: 136px;
  overflow: auto;
  padding: 0px 24px;
}

.topic {
  border-top: solid 1px #eff2f5;
  border-bottom: solid 1px #eff2f5;
  color: #616e85;
  font-size: 14px;
  font-weight: 400;
  padding: 16px 0px;
  margin-left: 24px;
}

.barChart {
  display: grid;
  grid-template-columns: 48px 1fr;
  grid-template-rows: 1fr;
}

.scales {
  display: flex;
  flex-direction: column;
  gap: 8px;
  grid-column: 1/3;
  grid-row: 1;
  margin-bottom: 12px;
}

.line {
  position: relative;
  display: flex;
  margin: 0 8px;
  padding: 0 16px;
  gap: 16px;
}

.scaleValue {
  color: #616e85;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-align: right;
  width: 34px;
}

.scale {
  border-bottom: solid 1px #eff2f5;
  height: 12px;
  width: 100%;
}

.bars {
  display: flex;
  grid-column: 2/3;
  grid-row: 1;
  padding: 12px 24px 0 24px;
  justify-content: space-evenly;
  z-index: 2;
}

.barBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 16px;
  width: 100%;
}

.bar {
  width: 100%;
  border-radius: 6px 6px 0px 0px;
  background-color: #f18c5c;
}

.barName {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.graphLegend {
  display: flex;
  margin: 16px auto 0 auto;
  justify-content: center;
  gap: 16px;
}

.items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
}

.colorMark {
  border-radius: 4px;
  height: 12px;
  width: 12px;
}

.graph:nth-child(5) {
  .barBox:nth-child(1) .bar {
    height: 116px;
  }

  .barBox:nth-child(2) .bar {
    height: 31px;
  }

  .barBox:nth-child(3) .bar {
    height: 46px;
  }

  .barBox:nth-child(4) .bar {
    height: 116px;
  }

  .barBox:nth-child(5) .bar {
    height: 15px;
  }

  .barBox:nth-child(6) .bar {
    height: 116px;
  }

  .barBox:nth-child(7) .bar {
    height: 116px;
  }

  .barBox:nth-child(8) .bar {
    height: 31px;
  }

  .barBox:nth-child(9) .bar {
    height: 46px;
  }

  .barBox:nth-child(10) .bar {
    height: 116px;
  }

  .barBox:nth-child(11) .bar {
    height: 15px;
  }

  .barBox:nth-child(12) .bar {
    height: 116px;
  }
}

.graph:nth-child(6) {
  .barBox:nth-child(1) .bar {
    background-color: #5155c3;
    height: 116px;
  }

  .barBox:nth-child(2) .bar {
    background-color: #597dbe;
    height: 94px;
  }

  .barBox:nth-child(3) .bar {
    background-color: #5f99bb;
    height: 31px;
  }

  .barBox:nth-child(4) .bar {
    background-color: #65b8b7;
    height: 80px;
  }

  .barBox:nth-child(5) .bar {
    background-color: #6cddb1;
    height: 31px;
  }

  .items:nth-child(1) .colorMark {
    background-color: #5155c3;
  }

  .items:nth-child(2) .colorMark {
    background-color: #597dbe;
  }

  .items:nth-child(3) .colorMark {
    background-color: #5f99bb;
  }

  .items:nth-child(4) .colorMark {
    background-color: #65b8b7;
  }

  .items:nth-child(5) .colorMark {
    background-color: #6cddb1;
  }

  .items:nth-child(6) .colorMark {
    background-color: #222531;
    opacity: 40%;
  }
}

@media screen and (min-width: 768px) {
  main {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin: 32px 0;
  }
}

@media screen and (min-width: 1024px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}
